<section class="projects container">
  <link
    rel="stylesheet"
    href="https://unpkg.com/swiper/swiper-bundle.min.css"
  />
  <h2 class="project-subject">Projects</h2>
  <div class="swiper project-items">
    <ul class="swiper-wrapper">
      <li class="no-styles swiper-slide project-item">
        <div class="project-slide">
          <div class="project-slide-box">
            <ul class="project-content">
              <li class="project-slide-list">#react</li>
              <li class="project-slide-list">#js</li>
              <li class="project-slide-list">#node js</li>
              <li class="project-slide-list">#git</li>
            </ul>
            <p class="project-text">
              Programming Across Borders: Ideas, Technologies, Innovations
            </p>
            <a
              href="https://github.com/DBodies/JS-Project-group03"
              target="_blank"
              class="project-button"
              >See project</a
            >
          </div>
          <div class="project-img">
            <img src="../img/projects/desktop/image.jpg" alt="Project 1" />
          </div>
        </div>
      </li>
      <li class="no-styles swiper-slide project-item">
        <div class="project-slide">
          <div class="project-slide-box">
            <ul class="project-content">
              <li class="project-slide-list">#react</li>
              <li class="project-slide-list">#js</li>
              <li class="project-slide-list">#node js</li>
              <li class="project-slide-list">#git</li>
            </ul>
            <p class="project-text">
              Programming Across Borders: Ideas, Technologies, Innovations
            </p>
            <a
              href="https://github.com/DBodies/JS-Project-group03"
              target="_blank"
              class="project-button"
              >See project</a
            >
          </div>
          <div class="project-img">
            <img src="../img/projects/desktop/image1.jpg" alt="Project 2" />
          </div>
        </div>
      </li>
      <li class="no-styles swiper-slide project-item">
        <div class="project-slide">
          <div class="project-slide-box">
            <ul class="project-content">
              <li class="project-slide-list">#react</li>
              <li class="project-slide-list">#js</li>
              <li class="project-slide-list">#node js</li>
              <li class="project-slide-list">#git</li>
            </ul>
            <p class="project-text">
              Programming Across Borders: Ideas, Technologies, Innovations
            </p>
            <a
              href="https://github.com/DBodies/JS-Project-group03"
              target="_blank"
              class="project-button"
              >See project</a
            >
          </div>
          <div class="project-img">
            <img src="../img/projects/desktop/image2.jpg" alt="Project 3" />
          </div>
        </div>
      </li>
    </ul>
    <div class="swiper-pagination"></div>
  </div>
  <div class="custom-navigation">
    <button class="custom-button-prev">
      <svg
        width="32"
        height="32"
        viewBox="0 0 32 32"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M5.3335 16H26.6668"
          stroke="#FAFAFA"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M18.6665 8L26.6665 16L18.6665 24"
          stroke="#FAFAFA"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </button>
    <button class="custom-button-next">
      <svg
        width="32"
        height="32"
        viewBox="0 0 32 32"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M5.3335 16H26.6668"
          stroke="#FAFAFA"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M18.6665 8L26.6665 16L18.6665 24"
          stroke="#FAFAFA"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </button>
  </div>
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script type="module" src="../js/project.js"></script>
</section>
