<footer class="footer" id="work-together">
    <div class="footer-content container">
        <div class="footer-header">
            <img src="./img/image.jpg" alt="Avatar" class="avatar" />
            <h2 class="footer-text"><span>LET'S</span> <strong>WORK</strong><br />TOGETHER</h2>
        </div>
        <form class="footer-form" id="contactForm">

            <div class="imput-gorup">
                <input type="email" placeholder="clients@gmail.com" required />
                <input type="text" placeholder="comments" required />
                <button type="submit" class="send-btn">Send</button>
            </div>

        </form>
        <div class="footer-contacts">
            <a class="cont-email" href="lloydjefferson@gmail.com">lloydjefferson@gmail.com</a>
            <a class="cont-tel" href="+380 11 111 11 11">+380 11 111 11 11</a>

        </div>
    </div>

    <div class="modal" id="thankYouModal">
        <div class="modal-content">
            <button class="close-modal" id="closeModal">&times;</button>
            <h2>Thank you for your interest in cooperation!</h2>
            <p>
                The manager will contact you shortly to discuss further details and opportunities
                for cooperation. Please stay in touch.
            </p>
        </div>
    </div>


</footer>