.hero {
  padding: 0;
  margin: 0;
  background-color: #2e2f42;
  background-image: url(../img/hero/Hero-mob.png),
    linear-gradient(to right, #0041e8, #1c1d20);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0;
}

.hero-wrapper {
  display: block;
  padding: 280px 16px 32px 16px;
  width: 100%;
  margin: auto;
}

.hero-title {
  font-weight: 500;
  font-size: 50px;
  line-height: 1;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fafafa;
  margin-bottom: 212px;
}

.hero-list {
  display: flex;
  align-items: center;
  justify-content: right;
  flex-direction: row;
  gap: 4px;
}

.hero-list-item {
  display: flex;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  padding: 6px 12px;

  width: 37px;
  height: 37px;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  transition: box-shadow 0.3s ease-in-out;
}

.hero-item-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.02em;
  color: #fafafa;
}

.hero-list-item.email {
  width: auto;
  max-width: 178px;
  letter-spacing: -0.08em;
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 375px) {
  .hero-list-item.email {
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media only screen and (min-width: 768px) {
  .hero {
    background-image: url(../img/hero/Hero-tab.png),
      linear-gradient(to right, #0041e8, #1c1d20);
  }

  .hero-wrapper {
    padding: 300px 32px 32px 32px;
  }

  .hero-title {
    font-size: 90px;
    margin-bottom: 187px;
  }

  .hero-list {
    gap: 8px;
  }

  .hero-list-item {
    padding: 18px 16px;
    width: 55px;
    height: 55px;
  }

  .hero-list-item:hover {
    box-shadow: 0 0 25px rgb(0, 65, 232);
    cursor: pointer;
  }

  .hero-list-item.email {
    max-width: 223px;
    padding: 18px 24px;
    letter-spacing: -0.02em;
  }

  .hero-item-link {
    font-size: 16px;
  }
}

@media only screen and (min-width: 1440px) {
  .hero {
    background-image: url(../img/hero/Hero-desk.png),
      linear-gradient(to right, #0041e8, #1c1d20);
  }

  .hero-title {
    width: 1084px;
    margin-bottom: 243px;
    margin-left: auto;
    margin-right: auto;
  }
}
