.projects {
  border-radius: 24px;
  max-width: 1376px;
  margin: auto;
}
.project-subject {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
}
.project-items {
  margin-bottom: 64px;
}
.project-slide {
  display: flex;
}
.project-content {
  display: flex;
  gap: 6px;
  margin-bottom: 223px;
}
.project-slide-list {
  border: 1px solid rgba(28, 29, 32, 0.2);
  border-radius: 60px;
  padding: 18px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #1c1d20;
  background-color: #fff;
}
.no-styles {
  all: unset;
}
.project-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.project-slide-box {
  width: 688px;
  padding: 64px;
  background-color: #fff;
  border-radius: 24px 0 0 24px;
}
.swiper-button-next,
.swiper-button-prev {
  color: #000;
}
.custom-button-prev,
.custom-button-next {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  padding: 18px;
  width: 68px;
  height: 68px;
  background-color: #1c1d20;
  color: #fff;
  transition: 250ms ease-in;
}

.custom-button-prev {
  transform: rotate(-180deg);
}

.custom-button-prev.disabled,
.custom-button-next.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.swiper-button-disabled {
  opacity: 0.5;
  pointer-events: none;
  border-color: rgba(250, 250, 250, 0.2);
}

.custom-button-prev:hover,
.custom-button-next:hover {
  box-shadow: 0 0 25px rgb(0, 65, 232);
  color: #0041e8;
}
.swiper-button-disabled {
  opacity: 0.5;
  pointer-events: none;
}
.project-text {
  max-width: 494px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 44px;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: #1c1d20;
  margin-bottom: 50px;
}
.project-button {
  border-radius: 60px;
  padding: 18px 50px;
  width: 177px;
  height: 55px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: var(--main-text);
  margin-bottom: 82px;
  background-color: #0041e8;
  transition: background-color 250ms ease-in, box-shadow 250ms ease-in;
}

.project-button:hover {
  background-color: rgb(0, 65, 232);
  box-shadow: 0 0 25px rgb(0, 65, 232);
}
.project-img {
  border-radius: 0 24px 24px 0;
  width: 688px;
  background-color: #242527;
  display: grid;
  place-items: center;
}

.custom-navigation {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 164px;
}
